h3 {
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0 30%;
  font-size: 2em;
  padding: 1em 1em;
  text-align: center;
}
.container {
  margin: 0 15%;
  padding: 1em;
  background-color: hsla(0, 0%, 99%, 0.75);
  min-height: 90vh;
}
.container p {
  text-align: justify;
  line-height: 1.5em;
  text-indent: 2em;
  margin: 1em 0;
}
