input[type="radio"] {
  visibility: hidden;
}
label {
  display: inline-block;
  cursor: pointer;
  /* height: 115px; */
}
input[type="radio"]:checked + label {
  border-width: 1px;
}
input[type="radio"] + label {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  border-width: 0;
}
div.flow {
  display: flex;
}
.masa-pastel {
  min-width: 20em;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 15px;
}
