a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  background-image: url("/IMG/background.png");
  background-repeat: repeat;
}
header,
header > * {
  text-transform: uppercase;
}
header h2 {
  font-size: 30px;
  font-weight: bolder;
}
.banner {
  /* max-width: 100%; */
  max-height: 1em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.pink {
  background-color: #ff7cd6ff;
  color: black;
}
.yellow {
  background-color: #fff36dff;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons figure img {
  height: 3em;
  position: relative;
  right: -25%;
  margin-bottom: 10px;
}
.buttons > * {
  font-size: 10px;
  margin: 0 15px;
}
nav a {
  color: hsl(0, 0%, 69%);
  margin: auto 10px;
}
nav a.active {
  color: black;
}
nav a:hover {
  color: hsl(0, 90%, 50%);
}
